@charset "UTF-8";

body {
    margin: 0;
}

li {
    list-style: none;
}

/* .m-bk {
    position: absolute;
    width: 1063Px;
    height: 544px;
    background: url(../img/e01-2.jpg) no-repeat;
    opacity: 0.2;
} */

.m-menu {
    padding: 15px 64px;
    font-size: 12px;
    letter-spacing: 1px;
}

.m-menu>.m-menu-item {
    margin-right: 19.5px;
}

.m-first {
    float: left;
    padding: 25px 34px;
    width: 450px;
}

.m-first>.m-first-pop {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.m-first>.m-first-com {
    padding: 2.8px 0px;
    font-size: 19px;
    letter-spacing: 0.19px;
}

.m-first>.m-first-a {
    padding: 4.3px 0px;
    font-size: 13px;
    letter-spacing: 0;
}

.m-first-a>.m-first-a-num {
    margin-right: 0;
}

.m-first>.m-first-john {
    height: 0px;
    padding: 12px 0px;
    font-size: 1px;
    letter-spacing: 0;
}

.m-first>.m-first-feb {
    padding: 8px 0px;
    font-size: 1px;
    letter-spacing: 0.1px;
}

.m-second>.m-second-bas {
    top: 240px;
    left: 33px;
    position: absolute;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.m-second>.m-second-why {
    top: 259px;
    left: 33px;
    position: absolute;
    font-size: 19px;
    letter-spacing: 0.12px;
}

.m-second>.m-second-exp {
    top: 291px;
    left: 33px;
    position: absolute;
    font-size: 12px;
    letter-spacing: 0.6px;
}

.m-second>.m-second-nat {
    top: 324px;
    left: 33px;
    position: absolute;
    font-size: 1px;
    letter-spacing: 0.2px;
}

.m-second>.m-second-jan {
    top: 345px;
    left: 33px;
    position: absolute;
    font-size: 1px;
    letter-spacing: 0.1px;
}

.m-third {
    top: 400px;
    left: 33px;
    position: absolute;
}

.m-third>.m-third-bas {
    top: 11px;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.m-third>.m-third-jav {
    top: 16px;
    position: relative;
    font-size: 19px;
    letter-spacing: 0.45px;
}

.m-third>.m-third-how {
    top: 22px;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.m-third>.m-third-ajm {
    top: 39px;
    position: relative;
    font-size: 1px;
    letter-spacing: 0.1px;
}

.m-third>.m-third-oct {
    top: 44px;
    position: relative;
    font-size: 1px;
    letter-spacing: 0.3px;
}