@charset "UTF-8";

.m-bk {
    position: absolute;
    width: 608Px;
    height: 881px;
    background: url(../img/e03-2.jpg) no-repeat;
    background-size: 50%;
    opacity: 0.4;
}

.m-box {
    width: 291px;
    height: 427px;
    margin: 0 0;
    padding: 0;
    box-sizing: content-box;
    border: 6px solid #f4f4f4;
}

.m-menu {
    position: absolute;
    top: 25px;
    left: 44.5px;
    font-size: 12px;
}

.m-menu>.m-menu-tab {
    float: left;
    text-align: center;
    margin-right: 30px;
}

.m-op {
    position: absolute;
    top: 72px;
    left: 15px;
    font-size: 10px;
    padding: 4.5px 42px 4.5px 82px;
    background-color: #ffe5de;
}

.m-tab {
    position: absolute;
    top: 110px;
    left: 34px;
    font-size: 12px;
}

.m-tab>.m-tab-web {
    float: left;
    padding: 3px 5px 2px 3px;
    margin-right: 22px;
}

.m-taobao1 {
    position: absolute;
    top: 149px;
    left: 27px;
    font-size: 12px;
    color: #ff6340;
}

.m-taobao1>.m-taobao1-web {
    float: left;
    margin-right: 32px;
    letter-spacing: -0.2px;
}

.m-taobao2 {
    position: absolute;
    top: 173px;
    left: 27px;
    font-size: 12px;
}

.m-taobao2>.m-taobao2-web {
    float: left;
    margin-right: 47px;
    letter-spacing: -0.1px;
}

.m-chong {
    position: absolute;
    top: 292px;
    left: 40px;
    font-size: 12px;
}

.m-chong>.m-chong-web {
    float: left;
    margin-right: 24px;
}

.m-cha1 {
    position: absolute;
    height: 25px;
    width: 190px;
    top: 318px;
    left: 31px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    font-size: 12px;
}

.m-cha1>.m-cha1-shuru {
    position: relative;
    top: 3.5px;
    left: 5px;
}

.m-cha2 {
    position: absolute;
    height: 26px;
    width: 190px;
    top: 342px;
    left: 31px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    font-size: 12px;
}

.m-cha2>.m-cha2-num {
    position: relative;
    top: 5.4px;
    left: 4px;
}

.m-sell {
    position: absolute;
    top: 374.5px;
    left: 34px;
    font-size: 12px;
}

.m-dic {
    position: absolute;
    top: 398px;
    left: 31px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    padding: 4.5px 10px 6.5px 10px;
    background-color: #fd471f;
    border-radius: 2px;
}

.m-boxmax {
    position: absolute;
    top: 283px;
    left: 15px;
    width: 288px;
    height: 157px;
    box-sizing: content-box;
    border-bottom: 1px solid #fd4718;
    border-left: 1px solid #fd4718;
    border-right: 1px solid #fd4718;
}

.m-img {
    position: absolute;
    top: 207px;
    left: 15px;
}

.m-img>.m-img-pho1 {
    float: left;
    width: 70px;
    height: 75px;
    background: url(../img/huafei.png) no-repeat;
    border-top: 1px solid #fd4718;
    border-left: 1px solid #fd4718;
    border-right: 1px solid #fd4718;
    border-bottom: 1px solid #ffffff;
    background-size: 99%;
}

.m-img>.m-img-pho2 {
    position: relative;
    left: 0px;
    float: left;
    width: 70px;
    height: 75px;
    background: url(../img/lvxing.png) no-repeat;
    border-top: 1px solid #f7f7f7;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #f7f7f7;
    border-bottom: 1px solid #fd4718;
    background-size: 99%;
}

.m-img>.m-img-pho3 {
    float: left;
    width: 71px;
    height: 75px;
    background: url(../img/chexian.png) no-repeat;
    border-top: 1px solid #f7f7f7;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #f7f7f7;
    border-bottom: 1px solid #fd4718;
    background-size: 99%;
}

.m-img>.m-img-pho4 {
    float: left;
    width: 71px;
    height: 75px;
    background: url(../img/youxi.png) no-repeat;
    border-top: 1px solid #f7f7f7;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #f7f7f7;
    border-bottom: 1px solid #fd4718;
    background-size: 99%;
}

.m-chong2 {
    position: absolute;
    top: 251px;
    left: 33px;
    font-size: 12px;
}

.m-chong2>.m-chong2-web1 {
    float: left;
}

.m-chong2>.m-chong2-web2 {
    float: left;
    position: relative;
    left: 42px;
}

.m-chong2>.m-chong2-web3 {
    float: left;
    position: relative;
    left: 91px;
}

.m-chong2>.m-chong2-web4 {
    float: left;
    position: relative;
    left: 140px;
}

.m-x{
    position: absolute;
    height: 13px;
    width: 17px;
    top: 288px;
    left: 285px;
    background: url(../img/chacha.png) no-repeat;
}